body {
    background: gainsboro;
    background-size: 100%, 100%;
    background-blend-mode: lighten;
    background-attachment: scroll;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    background-color: black;
    text-indent: 100px;
    color: black;
    text-transform: lowercase;
    text-align: center;
}

nav {
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Nav1 {
    color: red;
    background-color: black;
    font-size: 30px;
    padding: 10px;
}

#UL1 {
    float: right;
    font-size: 18px;
    display: flex;
}

#home:hover {
    color: gray;
    background-color: black;
    display: flex;
}

#home {
    padding: 18px;
    /* margin: 10px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    display: flex;
    /* float: right; */
    /* background-color: black; */
    /* border-radius: 40px; */
}


/* #Insta {
    float: right;
    position: absolute;
    right: 50px;
} */

div {
    background-color: gainsboro;
    height: 900px;
    width: 270px;
    float: right;
}

#user {
    position: absolute;
    top: 45px;
    right: 35px;
}

#logo {
    position: absolute;
    height: 40px;
    width: 100px;
    left: 20px;
}